h1{
    font-size: 20px;
    font-style: italic;
    text-shadow: 10px 4px 7px rgba(0, 0, 0, 0.5);
}

a {
}
li.enlace {
    display: inline-block;
}

.container-imagen {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.imagen {
    width: 400px;
}

.caja-enlace{
    display: block;
    width: 80px;
    border: 5px solid lightblue;
    padding:  5px;
    margin: 5px;
}
.container-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
}
.container-footer  {
    color: aliceblue;
    font-size: 20px;
    background-color: black;
}