h1 {
    font-size: 40px;
    font-style:  italic;
    text-shadow: 8px 8px 5px rgba(9, 188, 243, 0.5);
}


li.enlace {
    display: inline-block;
}

.container-imagen {
    display: flex;
    justify-content: center;
    margin: 25px;
}

.img {
    width: 190px;
}

.caja-enlace {
    display: block;
    width: 200px;
    border: 1px solid lightgray;
    padding: 5px;
    margin: 5px;
    box-shadow: 8px 8px 5px rgba(50, 138, 221, 0.5);
}

.container-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(45, 211, 142);
}

.container-footer {
    color: aliceblue;
    font-size: 20px;
    background-color: rgb(14, 27, 85);
}