* {
    margin: 0px;
}

.container {
    display: grid;
    grid-template: 150px 1fr 50px / 200px 1fr;
    grid-template-areas: "header header" "left content" "footer footer";
    grid-gap: 20px;
    height: 100vh;
}

.item {
    background-color: lightskyblue;
    padding: 10px;
    border: 1px solid lightgray;
}

.header {
    grid-area: header;
}

.left {
    grid-area: left;
}

.content {
    background-color: lightskyblue;
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row {
    display: flex;
    flex-direction: row; 
  }
.footer {
    grid-area: footer;
}



.cuadro1{
    background-color: yellow;
    
    height: 50px;
    width: 380px;
    padding: 20px;
    font-size: 20px;
    color:black;
    font-weight: bolder;
    text-align: center;

}


.cuadro2{
    background-color: gray;
    
    height: 25px;
    width: 100px;
    padding: 20px;
    font-size: 20px;
    color:black;
    font-weight: bolder;
    text-align: center;

}
.cuadro3{
    
    background-color: blue;
    
    height: 25px;
    width:100px;
    padding: 20px;
    font-size: 20px;
    color:black;
    font-weight: bolder;
    text-align: center;

}
.cuadro4{
    background-color: pink;
    
    height: 25px;
    width: 100px;
    padding: 20px;
    font-size: 20px;
    color:black;
    font-weight: bolder;
    text-align: center;

}